:vars {
  --foreground: #e6e1e9;
  --background: #141318;
  --cursor: #e6e1e9;
  --primary: #cbbeff;
  --on-primary: #32285e;
  --secondary: #cac3dc;
  --on-secondary: #322e41;
  --tertiary: #eeb8cb;
  --on-tertiary: #492534;
  --surface: #141318;
  --surface-bright: #3a383e;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #938f99;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #000000;
  --green: #95d5a7;
  --green-dim: #000000;
  --yellow: #dec56e;
  --yellow-dim: #000000;
  --blue: #c5c0ff;
  --blue-dim: #000000;
  --magenta: #e4b7f3;
  --magenta-dim: #000000;
  --cyan: #82d3e2;
  --cyan-dim: #000000;
  --white: #82d3e0;
}
