:vars {
  --foreground: #e0e3e8;
  --background: #101417;
  --cursor: #e0e3e8;
  --primary: #95cdf8;
  --on-primary: #00344e;
  --secondary: #b7c9d9;
  --on-secondary: #22323f;
  --tertiary: #cfc0e8;
  --on-tertiary: #352b4b;
  --surface: #101417;
  --surface-bright: #363a3e;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8b9198;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #000000;
  --green: #95d5a7;
  --green-dim: #000000;
  --yellow: #b8cf84;
  --yellow-dim: #000000;
  --blue: #afc6ff;
  --blue-dim: #000000;
  --magenta: #e4b7f3;
  --magenta-dim: #000000;
  --cyan: #82d3e2;
  --cyan-dim: #000000;
  --white: #82d3e0;
}
