:vars {
  --foreground: #e6e0e8;
  --background: #141218;
  --cursor: #e6e0e8;
  --primary: #d0bcfe;
  --on-primary: #37265d;
  --secondary: #ccc2db;
  --on-secondary: #332d41;
  --tertiary: #f0b8c7;
  --on-tertiary: #4a2531;
  --surface: #141218;
  --surface-bright: #3b383e;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #948f99;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #000000;
  --green: #95d5a7;
  --green-dim: #000000;
  --yellow: #dec56e;
  --yellow-dim: #000000;
  --blue: #c7bfff;
  --blue-dim: #000000;
  --magenta: #e4b7f3;
  --magenta-dim: #000000;
  --cyan: #82d3e2;
  --cyan-dim: #000000;
  --white: #82d3e0;
}
