:vars {
  --foreground: #e7e0e8;
  --background: #151218;
  --cursor: #e7e0e8;
  --primary: #d5bbfc;
  --on-primary: #3a255b;
  --secondary: #cec2db;
  --on-secondary: #352d40;
  --tertiary: #f1b7c3;
  --on-tertiary: #4b252e;
  --surface: #151218;
  --surface-bright: #3b383e;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #958e99;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #95d5a7;
  --green-dim: #70c789;
  --yellow: #dec56e;
  --yellow-dim: #d5b444;
  --blue: #cabeff;
  --blue-dim: #a08bff;
  --magenta: #e4b7f3;
  --magenta-dim: #d48bec;
  --cyan: #82d3e2;
  --cyan-dim: #59c4d8;
  --white: #82d3e0;
}
